@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap");

.main {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #fff;
  background: url(../../public/line.png), url(../../public/line2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  position: fixed;
  /* padding: 0 0 3em; */
}
.mainActive {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: url(../../public/darkLine.svg), url(../../public/darkLine2.svg),
    #2b2b2b;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
}

.mainCon {
  background: transparent;
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 2em 1em 0 1em;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  position: sticky;
}

.nav a {
  font-family: "Schibsted Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  text-decoration: none;
  letter-spacing: 0.03em;
  outline: none;
  color: #2b2b2b;
}

.navAct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  position: sticky;
}
.navAct a {
  font-family: "Schibsted Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  text-decoration: none;
  letter-spacing: 0.03em;
  outline: none;
  color: #fff;
}

.navAct .navItem li {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.03em;
  list-style: none;
}
.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.navItem li {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: rgba(43, 43, 43, 0.5);
  list-style: none;
}

.header {
  max-width: 1600px;
  width: 100%;
  margin: 2em auto;
}

.mode {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  flex-direction: column;
}

.darkModee {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  flex-direction: column;
}

.modeIcon {
  color: rgba(43, 43, 43, 0.5);
  cursor: pointer;
  font-size: 25px;
}
.modeActive {
  color: #2b2b2b;
  cursor: pointer;
  font-size: 25px;
}

.darkModee .modeIcon {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 25px;
}
.darkModee .modeActive {
  color: #fff;
  cursor: pointer;
  font-size: 25px;
}
.zig {
  width: 84.82px;
  height: 17.67px;
  margin-bottom: 1em;
}
.starrCon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sideStar {
  width: 55px;
  height: 55px;
  margin-left: auto;
}
.headerContent {
  max-width: 1103px;
  width: 100%;
  margin: 1em auto;
}
.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  color: rgba(43, 43, 43, 0.5);
}
.headerText h3 {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.03em;
}
.headerText h1 {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 74px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
.headerText .line {
  text-decoration: line-through;
}

.headerText .back {
  background-color: black;
  color: #fff;
}
.headerText p {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: rgba(43, 43, 43, 0.5);
  margin-top: 0.5em;
}
.headerContent .round {
  width: 114.04px;
  height: 113.69px;
  margin-top: 1em;
}

.darkHeaderContent .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  color: rgba(255, 255, 255, 0.5);
}
.darkHeaderContent h3 {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.03em;
}
.darkHeaderContent h1 {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 74px;
  letter-spacing: 0.03em;
  color: #fff;
}
.darkHeaderContent .line {
  text-decoration: line-through;
}

.darkHeaderContent .back {
  background-color: white;
  color: black;
}
.darkHeaderContent p {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.5em;
}
.darkHeaderContent .round {
  width: 114.04px;
  height: 113.69px;
  margin-top: 1em;
}

.headerLast {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 74px;
  letter-spacing: -0.015em;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  background: #2b2b2b4d;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  background-clip: text;
  text-fill-color: #fff;
  opacity: 0.8;
  width: 80%;
  margin-left: auto;
}

.ring {
  width: 493.14px;
  height: 493.14px;
  position: absolute;
  bottom: -10%;
  right: 0%;
  z-index: 11;
}

.work {
  margin: 2em auto;
  max-width: 1103px;
  width: 100%;
}
.workAct {
  margin: 2em auto;
  max-width: 1103px;
  width: 100%;
}
.work h1 {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: rgba(43, 43, 43, 0.5);
  margin-bottom: 5em;
}
.workAct h1 {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 5em;
}
.workCap {
  margin-bottom: 6em;
}

.workTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  color: #2b2b2b;
  margin-bottom: 1em;
}
.workAct .workTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  color: #ffffff;
  margin-bottom: 1em;
}

.workCap h2 {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.03em;
}
.workIcon {
  font-size: 30px;
}

.workCon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.workConFirst,
.workConSec {
  width: 50%;
}

.workCap .workConSec img {
  object-fit: contain;
  width: 292.87px;
  height: 300px;
}
.workCap p {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: rgba(43, 43, 43, 0.5);
  margin-bottom: 1em;
}

.workAct .workCap p {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1em;
}

.workCap button {
  width: 180px;
  height: 40px;
  background: rgba(43, 43, 43, 0.05);
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  margin-bottom: 4em;
  border: none;
  outline: none;
}
.workAct .workCap button {
  width: 180px;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 4em;
  border: none;
  outline: none;
}

.workCap img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  position: relative;
  z-index: 11;
}

.conCov {
  position: relative;
  max-width: 1103px;
  width: 100%;
  margin: 1em auto;
}

.connect {
  margin: 15em auto 0;
  width: 500px;
  text-align: center;
}
.conAct {
  margin: 15em auto 0;
  width: 500px;
  text-align: center;
}

.conImage {
  position: absolute;
  top: -150%;
  right: 0;
  width: 309.46px;
  height: 300px;
}
.connect h1 {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
.conAct h1 {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.03em;
  color: #fff;
}
.connect p {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(43, 43, 43, 0.5);
  width: 458px;
}

.conAct p {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.5);
  width: 458px;
}
.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 458px;
}

.socialIcon {
  font-size: 60px;
  color: #2b2b2b;
}

.conAct .socialIcon {
  font-size: 60px;
  color: #fff;
}
